$border-radius: 4px;

@mixin with-border($radius: $border-radius, $border-color: black) {
  border: 1px solid $border-color;
  border-radius: $radius;
}

#reactCounterWrapperId {
  display: inline-block;
  margin: .5rem 0;
  > div {
    button {
      @include with-border($border-radius, blue);
      display: inline-block;
      padding: 0.5rem;
    }
  }
}
